
body,html {
  background-color: #fff;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#content {
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

.mv-list {
    overflow-y: scroll;
    height: 100%;
}

.mv-list .item {
    padding: 9px;
    height: 15px;
    border-bottom: 1px solid rgba(216, 216, 216, 1);
    cursor: pointer;
}

.mv-list .item:hover{
    border-bottom-width: 3px;
    background-color: rgba(216, 216, 216, .2);
}

.mv-list .item .favicon {
    display: block;
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 5px;
}

.mv-list .item .title {
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
    line-height: 16px;

}

#search {
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 10px;
}


