<!DOCTYPE html>
<html ng-app ng-csp>
<head>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/lib/jquery.hotkeys.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/Controller/MostVisitedController.js"></script>
    <script type="text/javascript" src="js/widget.js"></script>
    <link rel="stylesheet" href="css/css.css" type="text/css" media="screen"/>
</head>

<body ng-controller="MostVisitedController">

<div id="content">
    <input type="text" placeholder="Filter" id="search" ng-model="query"">
    <div class="mv-list">
        <div class="item"  ng-repeat="site in sites | filter:query">
            <a target="_parent" ng-href="{{site.url}}">
                <img class="favicon" ng-src="http://www.google.com/s2/favicons?domain={{site.faviconURL}}"></img>
                <div class="title">{{site.title}}</div>
            </a>
        </div>
    </div>

</div>



</body>
</html>
