<!DOCTYPE html>
<html ng-app ng-csp>
<head>
    <script type="text/javascript" src="js/lib/jquery.js"></script>
    <script type="text/javascript" src="js/lib/jquery.hotkeys.js"></script>
    <script type="text/javascript" src="js/lib/angular.min.js"></script>
    <script type="text/javascript" src="js/Controller/MostVisitedController.js"></script>
    <script type="text/javascript" src="js/widget.js"></script>
    <link rel="stylesheet" href="css/css.css" type="text/css" media="screen"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>

<body ng-controller="MostVisitedController">

<div id="content">
    <input autocomplete="off" type="text" placeholder="Search" id="search" ng-model="query" class="search">
    <div class="mv-list">
        <div class="item"  ng-repeat="site in sites | filter:query">
            <a class="link" ng-href="{{site.url}}">
                <img class="favicon" ng-src="http://www.google.com/s2/favicons?domain={{site.faviconURL}}"></img>
                <div class="title">{{site.title}}</div>
            </a>
        </div>
    </div>

</div>



</body>
</html>
